PORT=3000
NODE_ENV=development
SESSION_SECRET=msd_computer_solution_secret_key_2026_x987

# Remote / Server MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=msd_computer_db
