<configuration>
  <system.webServer>
    <!-- IISNode Handler -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Serve Static Content Directly from /public -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(css|js|images|uploads|favicon.ico).*" />
          <action type="Rewrite" url="public/{R:0}" />
        </rule>

        <!-- Map Dynamic Requests to Node.js app.js -->
        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <iisnode 
      nodeProcessCommandLine="node" 
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
    />
  </system.webServer>
</configuration>
