<configuration>
  <system.webServer>
    <!-- Disable default document redirect -->
    <defaultDocument enabled="false" />

    <!-- IISNode Handler -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Node Inspector Debugging Rule -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app\.js\/debug[\/]?" />
        </rule>

        <!-- Dynamic Content: Pass full URL path to app.js/{R:1} -->
        <rule name="DynamicContent">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="app.js/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <iisnode 
      nodeProcessCommandLine="node" 
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      debuggingEnabled="false"
    />
  </system.webServer>
</configuration>
